<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>cross-wordle</title>
</head>
<header class="header">
 <h1>cross-wordle</h1>
      <nav>
        <ul class="header-nav">
          <li class="header-nav-items">
            <a class="header-nav-items-hover" class="" href="/">Start Game</a>
          </li>
          <li class="header-nav-items">
            <a class="header-nav-items-hover" href="/about">About</a>
          </li>
          <li class="header-nav-items">
            <a class="header-nav-items-hover" href="/highscores">Highscores</a>
          </li>
        </ul>
      </nav>
</header>
<body>
    {{{ body }}}
</body>
</html> 