<div class="border-b-4 pb-7">
    <h1 class="text-7xl text-center pt-7">Wordle</h1>
    <div>
      <div class="flex items-center justify-center flex-col mt-6">
        <ul class="flex gap-3 md:gap-8 text-2xl">
          <a class="links" href="/game">
            <li>Game</li>
          </a>
          <% if (currentPage === 'information') { %>
          <a class="current-page links" href="/information">
            <li>Information</li>
          </a>
          <% } else { %>
          <a class="links" href="/information">