@import '/src/styles/variables.scss';

.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hotpink;
    padding: 30px;
}

.navbarList{
    display: flex;
    gap: 50px;
    list-style-type: none;
}

.navbarLink{
    
    color: white;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;

    &:hover{
        color: black;
    }
}

.navbarLinkActive{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;

    &:hover{
        color: white;
    }
}