
.incorrect{
    background-color: gray;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: green;
}

.misplaced{
    background-color: yellow;
}