
.incorrect{
    background-color: red;
    width: 4em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: rgb(2, 255, 2);;
}

.misplaced{
    background-color: yellow;
}