@import 'styles/variables.scss';
@import 'components/keyboard/keyboard.module.scss';
@import 'components/gameRow/gameRow.module.scss';
@import 'components/tile/tile.module.scss';

.gameContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 3fr;
}
.centerKeyboard{
    display: flex;
    justify-content: center;
}
.centerBoard{
    display: flex;
    justify-content: center;
}

.clock{
    font-size: 3em;
    text-align: center;
}

