@import 'styles/variables.scss';
@import 'components/keyboard/keyboard.module.scss';
@import 'components/gameRow/gameRow.module.scss';
@import 'components/tile/tile.module.scss';
@import 'components/navbar/navbar.module.scss';
@import 'pages/information/information.module.css';

body{
    background-color: black;
}

h1{
    color: hotpink;
    font-size: 5em;
    text-align: center;
}
h2{
    color: white;
    font-size: 2.5em;
    text-align: center;
}
.gameContainer{
    display: grid;
    grid-template-columns: 3fr;

}
.centerKeyboard{
    display: flex;
    justify-content: center;
}
.centerBoard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{
    font-size: 3em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    text-align: center;
    color: white;
}

.gameWord{
    color: white;
    font-size: 3em;
}

