<div class="about-container">

  <h1 class="about-head">About</h1>

  <p class="about-paragraph">
    How to play the game
    <br />
    You just need to select how many letters the word should be and if
    the same letter is allowed to appear more than once.
    Then start guessing and when you make it the game is over.
 
  </p>

</div>