<div class="about-container">

  <h1 class="about-head">About</h1>

  <p class="about-paragraph">
    This project was made as an assigment for school.
    <br />
    Ive used 'luxon' to handle dates/time and 'handlebars' for templating.<br />
    The highscore page is served with SSR and this page is static. <br />
    Logic for the game is based on the server to prevent cheating.
    For persistant storage of highscores I've used an Atlas database.
    <br />
    <br />
    I used the MERN stack to create this app. The repo can be found
    <a
      class="about-link"
      href="https://github.com/a-jaxell/cross-wordle"
    >here</a>.
  </p>

</div>